@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}


.body {
  background: linear-gradient(45deg, #BBBDF6, #9893DA, #797A9E, #72727E, #625F63);
  background-size: 400% 400%;
  animation: colors 15s ease infinite;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100%  {
    background-position: 0% 50%;
  }
}

.box {
  display: flex;
  width:100%;  
  padding-top: 2%;
}

.centralizar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-table {
  display: flex;
  justify-content: center;
  align-content: stretch;
}

.select {
  cursor: pointer;
  word-wrap: break-word;
  line-height: 1em;
  white-space: normal;
  outline: 0;
  transform: rotateZ(0);
  min-width: 14em;
  min-height: 2.71428571em;
  background: #fff;
  display: inline-block;
  padding: 9px 14px 9px 37px;
  color: rgba(0,0,0,.87);
  box-shadow: none;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
  transition: box-shadow .1s;
  margin-top: 5px;
}

.label {
  display: block;
  color: rgba(0,0,0,.87);
  font-size: .92857143em;
  font-weight: 700;
  text-transform: none;
  margin-bottom: 10px;
}

.btn {
  align-self: center;
  
}

@media screen and ( max-width : 360px ) {
  .box, .container {
    
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 0;
      width: auto;
    
  }

  .input-form {
    width: 100%;
  }
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0px groove #666666;
  border-radius: 100px 0px 100px 0px;
  background-color: rgba(0,0,0,0.5);
  width: 20em;
  height: 28em;
}

.link-inscricao {
  margin: 5%;
  font-size: medium;
}

.btn-login {
  width: 100%;
}

.title-header {
  font-family: 'Merriweather', serif;
  color: white;
  text-align: center;
  text-shadow: 0.1em 0.1em #333;
  font-size: 30px;
  margin-left: 38%;
}

.title-login {
  font-family: 'Merriweather', serif;
  color: white;
  text-align: center;
  text-shadow: 0.1em 0.1em #333;
  font-size: 1.5em;
  margin-bottom: 15%;
}


.saldo-total {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 10px;
  font-family: 'Merriweather', serif;
  color: white;
  text-shadow: 0.1em 0.1em #333;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.zoom {
  overflow: hidden;
}
.zoom .saldo-total {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.zoom:hover .saldo-total {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.footer {
  position: fixed;
	bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10%;
}

.links {
  margin: 15px;
  font-size: medium;
  padding: 10px;
  color: white;
  font-family: 'Merriweather', serif;
}

span {
  font-family: 'Merriweather', serif;
  color: white;
}


label {
letter-spacing: 0.1rem;

}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pulse {
  animation: pulse 0.7s infinite;
  margin: 0 auto;
  display: table;
  margin-top: 50px;
  animation-direction: alternate;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -webkit-filter: brightness(100%);
  }
  100% {
    -webkit-transform: scale(1.1);
    -webkit-filter: brightness(200%);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    filter: brightness(100%);
  }
  100% {
    transform: scale(1.1);
    filter: brightness(200%);
  }
}