.body {

  background-color: rgb(187, 189, 246);

}

.box {
  display: flex;
  flex-direction: row;
  align-items: baseline;  
  width:100%;  
  margin-left:10%;
  padding: 2%;
}

.container {
  display: flex;
  background: linear-gradient(to bottom left, rgb(152, 147, 218, 0), rgb(121, 122, 158, 100));
  /*border-radius: 100px; */
}

.select {
  cursor: pointer;
  word-wrap: break-word;
  line-height: 1em;
  white-space: normal;
  outline: 0;
  transform: rotateZ(0);
  min-width: 14em;
  min-height: 2.71428571em;
  background: #fff;
  display: inline-block;
  padding: 9px 14px 9px 37px;
  color: rgba(0,0,0,.87);
  box-shadow: none;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
  transition: box-shadow .1s;
  margin-top: 5px;
  /* height: 50px; */

}

.label {
  display: block;
  /* margin: 0 0 .28571429rem 0; */
  color: rgba(0,0,0,.87);
  font-size: .92857143em;
  font-weight: 700;
  text-transform: none;
  margin-bottom: 10px;
}

.btn {
  align-self: center;
  width: 100%;
}

@media screen and ( max-width : 800px ) {
  .box, .container {
    
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 0;
    
  }
}

.teste {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
  
}

.btnIns {
  width: 14vw;
  margin: 20px;
  padding: 20px;
}